<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:src="@{/static/js/jquery.js}"></script>
  </head>
<body>
	<h1 align="center"><font color="red" size="20">测试ajax异常</font></h1>
	 <script th:src="@{/static/js/ajaxerror.js}"></script>
	 <!-- 
	<div th:text="${url}"></div>
	<div th:text="${message}"></div>
	 -->
</body>
</html>