<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>msww</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="bootstrap-4.0.0/css/bootstrap.min.css"  rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap-4.0.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
  </head>
<body >
	<form>
		<table>
			<tr height="10%">
				<td colspan="2">
					<div th:insert="~{top :: copy}" align="center"></div>
				</td>
			</tr>
			<tr height="80%">
				<td width="20%">
					<div th:insert="~{left :: copy}" align="left"></div>
				</td>
				<td width="80%">
					<div th:insert="~{main :: copy}" align="center"></div>
				</td>
			</tr>
			<tr height="10%">
				<td width="100%" colspan="2">
					<div th:insert="~{footer :: copy}" align="center"></div>
				</td>
			</tr>
		</table>
	</form>
	<iframe width="100%" height="10%">
		<div th:insert="~{top :: copy}" align="center"></div>
	</iframe>
	<div th:insert="~{left :: copy}" align="left"></div>
		<div>
			welcome <span th:utext= "${currentUser.userName}"></span> last successfully log on date <span th:utext= "${#calendars.format(currentUser.lastLogin,'yyyy-MM-dd')}"></span>
		</div>
	<div th:insert="~{main :: copy}" align="center"></div>
	<div th:insert="~{footer :: copy}" align="center"></div>
</body>
</html>


